<div id="search" class="descktop-search">
	<input name="search" value="{{ search }}" placeholder="{{ text_search }}" type="text">
	<button class="btn btn--search" type="button">
		<i class="fa fa-search" aria-hidden="true"></i>
	</button>
</div>